h1 {
	text-align: center;
	color: #F0FFFF;
	border: solid;
	padding: 1px 1px 1px 1px;
	font-size: x-large;
}
body {
	background-color: #483D8B;
	color: #F0FFFF;
	margin : 10%

}
footer {
	text-align: center;
	font-size: small;
}
p {
	margin-bottom: 3%
}